---
import Layout from "../layouts/Layout.astro";
import Card from "../components/ui/Card.astro";
import ButtonCard from "../components/ui/Buttons/ButtonCard.astro";
import IconBrands from "../components/ui/Icons/IconBrands.astro";
import IconRegular from "../components/ui/Icons/IconRegular.astro";
import {RedesSociales} from "../data/RedesSociales";
import IconSolid from "../components/ui/Icons/IconSolid.astro";
import {ExperienciaLaboral} from "../data/ExperienciaLaboral";
import {infoSitios, rutaImg} from "../data/infoSitios";
import ImageRounded from "../components/ui/ImageRounded.astro";
---

<Layout title="Inicio" description='Bienvenido a mi Portafolio web'>
    <div class="grid grid-cols-4 gap-2 mb-2">
        {RedesSociales.map((data)=>(
                <ButtonCard href={data.href}>
                    {data.tipo === 'regular' && <IconRegular element=`${data.ico} text-4xl sm:text-6xl` />}
                    {data.tipo === 'brands' && <IconBrands element=`${data.ico} text-4xl sm:text-6xl` />}
                    {data.tipo === 'solid' && <IconSolid element=`${data.ico} text-4xl sm:text-6xl` />}
                </ButtonCard>
        ))}
    </div>
    <Card adicionalClass="">
        <h1>
            Bienvenido a mi portafolio
        </h1>
    </Card>
    <Card adicionalClass='pb-5'>
        <div class='flex gap-2 items-center'>
            <img class='size-20 rounded-full object-cover' src='https://avatars.githubusercontent.com/u/89546666?v=4' alt='logo'>
            <span class='animate-pulse rounded-full px-3 py-1 bg-green-300 text-black h-min uppercase font-semibold'>disponible para trabajar</span>
        </div>
        <h2>soy <span class='text-rose-400 font-semibold'>Julián Araya</span></h2>
        <p class='my-1'>Soy desarrollador web con certificación en front-end, actualmente me encuentro aprendiendo distintas tecnologías para poder desarrollar aplicaciones web y móviles.</p>
        <a class='px-3 py-1 rounded-full bg-rose-300 text-black hover:bg-rose-200 transition' href='/assets/document/cv-julian-araya.pdf' download='cv-julian-araya.pdf'>Descargar CV <IconSolid element='file-arrow-down ms-2'/></a>
    </Card>
    <Card adicionalClass='pb-5'>
        <h2><IconSolid element='briefcase me-2'/>experiencia laboral</h2>
        <div class='grid grid-cols-2 gap-2'>
            {
                ExperienciaLaboral.map((data)=>(
                        <div id={data.id}>
                            <h3>{data.cargo}</h3>
                            <div class='flex gap-2 items-end'>
                                <h4 class='capitalize text-xl sm:text-2xl'>{data.empresa}</h4>
                                <p class='text-green-300 uppercase'>{`${data.fechaInicio} - ${data.fechaFin}`}</p>
                            </div>
                            <p>{data.texto}</p>
                        </div>
                ))
            }
        </div>
    </Card>
    <Card adicionalClass="">
        <h2><IconSolid element='code me-2'/>proyectos relevantes</h2>
        <div class='grid grid-cols-2 gap-2 gap-y-3 mt-2'>
            {infoSitios.filter(data => data.destacado === true).map(data=>
<ImageRounded src={`${rutaImg}/${data.jpg}`} alt={data.title}/>
                <div class='flex flex-col justify-between'>
                    <h3>{data.title}</h3>
                    <p class='line-clamp-3'>{data.paragraph}</p>
                    <div class='flex justify-center gap-2'>
                        <a class='h-max px-3 py-1 bg-rose-400 hover:bg-rose-500 text-black rounded-full transition capitalize' href={data.path}>mas info <IconSolid element='circle-info ms-2'/></a>
                        <a class='h-max px-3 py-1 bg-rose-400 hover:bg-rose-500 text-black rounded-full transition capitalize' href={data.url} target='_blank'>visitar<IconSolid element='arrow-up-right-from-square ms-2'/></a>
                    </div>
                </div>
            )}
        </div>
    </Card>
</Layout>